<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Model</key>
	<dict>
		<key>UIData</key>
		<dict>
			<key>ShowHide</key>
			<false/>
			<key>HereIAmSwitch</key>
			<true/>
			<key>MinimumValue</key>
			<integer>1</integer>
			<key>MaximumValue</key>
			<integer>25</integer>
			<key>Range</key>
			<integer>100</integer>
		</dict>
	</dict>
	<key>Controls</key>
	<dict>
		<key>exampleTable</key>
		<dict>
			<key>ui</key>
			<string>table</string>
			<key>controls</key>
			<dict>
				<key>controlGroup</key>
				<dict>
					<key>ui</key>
					<string>group</string>
					<key>label</key>
					<string>Table Controls</string>
					<key>controls</key>
					<dict>
						<key>maxValue</key>
						<dict>
							<key>ui</key>
							<string>range</string>
							<key>label</key>
							<string>Maximum Value</string>
							<key>ref</key>
							<string>UIData.MaximumValue</string>
							<key>range</key>
							<dict>
								<key>start</key>
								<string>1</string>
								<key>end</key>
								<string>25</string>
								<key>step</key>
								<string>0.5</string>
							</dict>
						</dict>
						<key>minValue</key>
						<dict>
							<key>ui</key>
							<string>range</string>
							<key>label</key>
							<string>Minimum Value</string>
							<key>ref</key>
							<string>UIData.MinimumValue</string>
							<key>range</key>
							<dict>
								<key>start</key>
								<string>1</string>
								<key>end</key>
								<string>25</string>
								<key>step</key>
								<string>0.5</string>
							</dict>
						</dict>
						<key>showHideSwitch</key>
						<dict>
							<key>ui</key>
							<string>switch</string>
							<key>label</key>
							<string>Show/Hide other controls</string>
							<key>ref</key>
							<string>UIData.ShowHide</string>
						</dict>
					</dict>
					<key>controlOrder</key>
					<array>
						<string>showHideSwitch</string>
						<string>minValue</string>
						<string>maxValue</string>
					</array>
				</dict>
				<key>hiddenControlsGroup</key>
				<dict>
					<key>ui</key>
					<string>group</string>
					<key>label</key>
					<string>Hidden Controls</string>
					<key>relevant</key>
					<array>
						<dict>
							<key>test</key>
							<string>UIData.ShowHide == YES</string>
						</dict>
					</array>
					<key>controls</key>
					<dict>
						<key>nowYouSeeMe</key>
						<dict>
							<key>ui</key>
							<string>switch</string>
							<key>label</key>
							<string>Here I Am</string>
							<key>ref</key>
							<string>UIData.HereIAmSwitch</string>
						</dict>
					</dict>
					<key>controlOrder</key>
					<array>
						<string>nowYouSeeMe</string>
					</array>
				</dict>
				<key>constrainedControlsGroup</key>
				<dict>
					<key>ui</key>
					<string>group</string>
					<key>label</key>
					<string>Constrained Controls</string>
					<key>controls</key>
					<dict>
						<key>aRange</key>
						<dict>
							<key>ui</key>
							<string>range</string>
							<key>label</key>
							<string>Constrained Range</string>
							<key>ref</key>
							<string>UIData.Range</string>
							<key>setup</key>
							<array>
								<dict>
									<key>test</key>
									<true/>
									<key>keyPath</key>
									<string>range.end</string>
									<key>value</key>
									<string>UIData.MaximumValue</string>
								</dict>
								<dict>
									<key>test</key>
									<true/>
									<key>keyPath</key>
									<string>range.start</string>
									<key>value</key>
									<string>UIData.MinimumValue</string>
								</dict>
							</array>
							<key>calculate</key>
							<array>
								<dict>
									<key>test</key>
									<string>UIData.Range &lt; UIData.MinimumValue</string>
									<key>keyPath</key>
									<string>UIData.Range</string>
									<key>value</key>
									<string>UIData.MinimumValue</string>
								</dict>
								<dict>
									<key>test</key>
									<string>UIData.Range &gt; UIData.MaximumValue</string>
									<key>keyPath</key>
									<string>UIData.Range</string>
									<key>value</key>
									<string>UIData.MaximumValue</string>
								</dict>
							</array>
							<key>range</key>
							<dict>
								<key>start</key>
								<string>0</string>
								<key>end</key>
								<string>100</string>
								<key>step</key>
								<string>0.5</string>
							</dict>
						</dict>
					</dict>
					<key>controlOrder</key>
					<array>
						<string>aRange</string>
					</array>
				</dict>
			</dict>
			<key>controlOrder</key>
			<array>
				<string>controlGroup</string>
				<string>hiddenControlsGroup</string>
				<string>constrainedControlsGroup</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
